In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc
gc.collect()
import datetime
import warnings
warnings.filterwarnings("ignore")

## Loading Data Using Kaggle Api

In [ ]:
! pip install -q kaggle

from google.colab import files

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"ayushpattiwar","key":"0528b921a4e9d9c2da41dd72cdfef52d"}'}

In [ ]:
! mkdir ~/.kaggle

! cp kaggle.json ~/.kaggle/

! chmod 600 ~/.kaggle/kaggle.json

! kaggle competitions download -c elo-merchant-category-recommendation

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
Downloading historical_transactions.csv.zip to /content
100% 545M/548M [00:11<00:00, 77.3MB/s]
100% 548M/548M [00:11<00:00, 49.2MB/s]
Downloading Data_Dictionary.xlsx to /content
  0% 0.00/17.2k [00:00<?, ?B/s]
100% 17.2k/17.2k [00:00<00:00, 17.2MB/s]
Downloading train.csv.zip to /content
  0% 0.00/3.02M [00:00<?, ?B/s]
100% 3.02M/3.02M [00:00<00:00, 97.5MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/846k [00:00<?, ?B/s]
100% 846k/846k [00:00<00:00, 114MB/s]
Downloading new_merchant_transactions.csv.zip to /content
 91% 45.0M/49.4M [00:01<00:00, 20.7MB/s]
100% 49.4M/49.4M [00:01<00:00, 40.8MB/s]
Downloading test.csv.zip to /content
  0% 0.00/1.13M [00:00<?, ?B/s]
100% 1.13M/1.13M [00:00<00:00, 157MB/s]
Downloading merchants.csv.zip to /content
 71% 9.00M/12.7M [00:01<00:00, 7.22MB/s]
100% 12.7M/12.7M [00:01<00:00, 10.9MB/s]
Downloading Data%20Dictionary.xlsx to /content
  0% 0.00/17.2k [00:00<?, ?B/s]
100% 17.2k/17.2k [00:00<00:00, 18.9MB/s]

In [ ]:
# unzipping the dataset
! unzip '/content/historical_transactions.csv.zip'

! unzip '/content/merchants.csv.zip'

! unzip '/content/new_merchant_transactions.csv.zip'

! unzip '/content/train.csv.zip'

! unzip '/content/test.csv.zip'

Archive:  /content/historical_transactions.csv.zip
  inflating: historical_transactions.csv
Archive:  /content/merchants.csv.zip
  inflating: merchants.csv
Archive:  /content/new_merchant_transactions.csv.zip
  inflating: new_merchant_transactions.csv
Archive:  /content/train.csv.zip
  inflating: train.csv
Archive:  /content/test.csv.zip
  inflating: test.csv

In [ ]:
np.random.seed(123)
gc.collect()

15

In [ ]:
# https://www.kaggle.com/c/champs-scalar-coupling/discussion/96655
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))

    return df

In [ ]:
# loading train and test using reduce_mem_usage and Pandas
train = reduce_mem_usage(pd.read_csv('/content/train.csv'))
test = reduce_mem_usage(pd.read_csv('/content/test.csv'))

Memory usage after optimization is: 4.04 MB
Decreased by 56.2%
Memory usage after optimization is: 2.24 MB
Decreased by 52.5%

In [ ]:
# checking for null values
train.isnull().sum()

first_active_month    0
card_id               0
feature_1             0
feature_2             0
feature_3             0
target                0
dtype: int64

In [ ]:
# imputing missing values with mode
# https://stackoverflow.com/questions/42789324/pandas-fillna-mode
test['first_active_month'].fillna(test['first_active_month'].mode()[0], inplace=True)

In [ ]:
# checking for null values
test.isnull().sum()

first_active_month    0
card_id               0
feature_1             0
feature_2             0
feature_3             0
dtype: int64

In [ ]:
# converting date features to datetime
train['first_active_month']=pd.to_datetime(train['first_active_month'])
test['first_active_month']=pd.to_datetime(test['first_active_month'])

In [ ]:
# making a new columns with outliers as seen in eda notebook
train['outliers'] = 0
train.loc[train['target'] < -30, 'outliers'] = 1

# https://www.geeksforgeeks.org/mean-encoding-machine-learning/
# mean encoding categorical features by grouping them with outliers.
for feature in ['feature_1', 'feature_2', 'feature_3']:
  mapping = train.groupby([feature])['outliers'].mean()
  train[feature] = train[feature].map(mapping)
  test[feature] = test[feature].map(mapping)

In [ ]:
# https://www.kaggle.com/mks2192/feature-engineering
train['quarter']=train['first_active_month'].dt.quarter
train['total_time'] = (datetime.datetime.today() - train['first_active_month']).dt.days
train['start_month'] = train['first_active_month'].dt.month
train['start_year'] = train['first_active_month'].dt.year
train['dayofweek'] = train['first_active_month'].dt.dayofweek
train['quarter']=train['first_active_month'].dt.quarter

train['total_time_feature1']=train['total_time']*train['feature_1']
train['total_time_feature2']=train['total_time']*train['feature_2']
train['total_time_feature3']=train['total_time']*train['feature_3']

train['total_time_feature1_ratio']=(train['feature_1']/train['total_time'])
train['total_time_feature2_ratio']=(train['feature_2']/train['total_time'])
train['total_time_feature3_ratio']=(train['feature_3']/train['total_time'])

# getting aggregated features from categorical variables
train['feature_sum'] = train['feature_1'] + train['feature_2'] + train['feature_3']
train['feature_mean'] = train['feature_sum']/3
train['feature_max'] = train[['feature_1', 'feature_2', 'feature_3']].max(axis=1)
train['feature_min'] = train[['feature_1', 'feature_2', 'feature_3']].min(axis=1)
train['feature_var'] = train[['feature_1', 'feature_2', 'feature_3']].std(axis=1)

gc.collect()

61

In [ ]:
train.head()

  first_active_month          card_id  ...  feature_min  feature_var
0         2017-06-01  C_ID_92a2005557  ...     0.008752     0.002214
1         2017-01-01  C_ID_3d0044924f  ...     0.010283     0.000555
2         2016-08-01  C_ID_d639edf6cd  ...     0.008752     0.000992
3         2017-09-01  C_ID_186d6a6901  ...     0.010283     0.002129
4         2017-11-01  C_ID_cdbd2c0db2  ...     0.008058     0.003091

[5 rows x 23 columns]

In [ ]:
# https://www.kaggle.com/mks2192/feature-engineering
test['quarter']=test['first_active_month'].dt.quarter
test['total_time'] = (datetime.datetime.today() - test['first_active_month']).dt.days
test['start_month'] = test['first_active_month'].dt.month
test['start_year'] = test['first_active_month'].dt.year
test['dayofweek'] = test['first_active_month'].dt.dayofweek
test['quarter']=test['first_active_month'].dt.quarter

test['total_time_feature1']=test['total_time']*test['feature_1']
test['total_time_feature2']=test['total_time']*test['feature_2']
test['total_time_feature3']=test['total_time']*test['feature_3']

test['total_time_feature1_ratio']=(test['feature_1']/test['total_time'])
test['total_time_feature2_ratio']=(test['feature_2']/test['total_time'])
test['total_time_feature3_ratio']=(test['feature_3']/test['total_time'])

# getting aggregated features from categorical variables
test['feature_sum'] = test['feature_1'] + test['feature_2'] + test['feature_3']
test['feature_mean'] = test['feature_sum']/3
test['feature_max'] = test[['feature_1', 'feature_2', 'feature_3']].max(axis=1)
test['feature_min'] = test[['feature_1', 'feature_2', 'feature_3']].min(axis=1)
test['feature_var'] = test[['feature_1', 'feature_2', 'feature_3']].std(axis=1)

gc.collect()

22

In [ ]:
test.head()

  first_active_month          card_id  ...  feature_min  feature_var
0         2017-04-01  C_ID_0ab67a22ab  ...     0.010479     0.001915
1         2017-01-01  C_ID_130fd0cbdd  ...     0.010283     0.002154
2         2017-08-01  C_ID_b709037bc5  ...     0.011385     0.001004
3         2017-12-01  C_ID_d27d835a9f  ...     0.010283     0.000566
4         2015-12-01  C_ID_2b5e3df5c2  ...     0.011385     0.001004

[5 rows x 21 columns]

In [ ]:
train.shape

(201917, 23)

In [ ]:
test.shape

(123623, 21)

## Merchants

In [ ]:
# loading csv file
merchant=reduce_mem_usage(pd.read_csv('/content/merchants.csv'))

Memory usage after optimization is: 30.32 MB
Decreased by 46.0%

In [ ]:
# dropping columns which dont gives much information based on eda
merchant.drop(columns=['merchant_category_id','subsector_id', 'city_id', 'state_id'], axis = 1, inplace=True)
merchant.drop(columns=['numerical_1'], axis = 1, inplace=True)

In [ ]:
# replacing inf values with nan
merchant = merchant.replace([np.inf, -np.inf], np.nan)

In [ ]:
# checking for null values
merchant.isnull().sum()

merchant_id                        0
merchant_group_id                  0
numerical_2                        0
category_1                         0
most_recent_sales_range            0
most_recent_purchases_range        0
avg_sales_lag3                    13
avg_purchases_lag3                 3
active_months_lag3                 0
avg_sales_lag6                    13
avg_purchases_lag6                 3
active_months_lag6                 0
avg_sales_lag12                   13
avg_purchases_lag12                3
active_months_lag12                0
category_4                         0
category_2                     11887
dtype: int64

In [ ]:
# imputing missing values with mode
merchant['avg_sales_lag3'].fillna(merchant['avg_sales_lag3'].mode()[0], inplace=True)
merchant['avg_sales_lag6'].fillna(merchant['avg_sales_lag6'].mode()[0], inplace=True)
merchant['avg_sales_lag12'].fillna(merchant['avg_sales_lag12'].mode()[0], inplace=True)
merchant['category_2'].fillna(merchant['category_2'].mode()[0], inplace=True)

In [ ]:
# preprocessing merchant file
merchant['category_1'] = merchant['category_1'].map({'Y':1, 'N':0})
merchant['category_4'] = merchant['category_4'].map({'Y':1, 'N':0})
merchant['most_recent_sales_range'] = merchant['most_recent_sales_range'].map({'E':4, 'D':3, 'C':2, 'B':1, 'A':0})
merchant['most_recent_purchases_range'] = merchant['most_recent_purchases_range'].map({'E':4, 'D':3, 'C':2, 'B':1, 'A':0})

In [ ]:
merchant.head()

       merchant_id  merchant_group_id  ...  category_4  category_2
0  M_ID_838061e48c               8353  ...           0         1.0
1  M_ID_9339d880ad               3184  ...           0         1.0
2  M_ID_e726bbae1e                447  ...           0         5.0
3  M_ID_a70e9c5f81               5026  ...           1         1.0
4  M_ID_64456c37ce               2228  ...           1         1.0

[5 rows x 17 columns]

## Historical_transactions

In [ ]:
# loading the data
hist_trans = reduce_mem_usage(pd.read_csv('/content/historical_transactions.csv'))

# preprocessing the csv file
# imputing the missing values
hist_trans['category_3'].fillna(hist_trans['category_3'].mode()[0], inplace=True)
hist_trans['merchant_id'].fillna(hist_trans['merchant_id'].mode()[0], inplace=True)
hist_trans['category_2'].fillna(hist_trans['category_2'].mode()[0], inplace=True)

# mapping catrgorical variables
hist_trans['authorized_flag'] = hist_trans['authorized_flag'].map({'Y':1, 'N':0})
hist_trans['category_1'] = hist_trans['category_1'].map({'Y':1, 'N':0})
hist_trans['category_3'] = hist_trans['category_3'].map({'A':0, 'B':1, 'C':2})
hist_trans['installments'] = hist_trans['installments'].map({-1:13, 0:0.1,1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10,11:11,12:12,999:13})

# taking 99 percrntile value a max to remove the outliers
hist_trans['purchase_amount'] = hist_trans['purchase_amount'].apply(lambda x: min(x, 1.22))

# feature engineering based on dates
hist_trans['purchase_date']=pd.to_datetime(hist_trans['purchase_date'])
hist_trans['year'] = hist_trans['purchase_date'].dt.year
hist_trans['day'] = hist_trans['purchase_date'].dt.day
hist_trans['month'] = hist_trans['purchase_date'].dt.month
hist_trans['dayofweek'] = hist_trans['purchase_date'].dt.dayofweek
hist_trans['weekofyear'] = hist_trans['purchase_date'].dt.weekofyear
hist_trans['hour_of_purchase'] = hist_trans['purchase_date'].dt.hour
hist_trans['Minute_of_purchase'] = hist_trans['purchase_date'].dt.minute
hist_trans['Second_of_purchase'] = hist_trans['purchase_date'].dt.second
hist_trans['purchased_on_weekend'] = (hist_trans.dayofweek >=5).astype(int)
hist_trans['purchased_on_weekday'] = (hist_trans.dayofweek <5).astype(int)

hist_trans['month_diff'] = ((datetime.datetime.today() - hist_trans['purchase_date']).dt.days)//30
hist_trans['month_diff'] += hist_trans['month_lag']

# feature engineering based on installments and purchase amount
# purchase amount is highly normalized so we denormalizing it  
# inspired from https://chandureddyvari.com/posts/elo-merchant-feature/
hist_trans['EMI'] = hist_trans['purchase_amount'] / hist_trans['installments']
hist_trans['purchase_amount_quantiles'] = pd.qcut(hist_trans['purchase_amount'], 5, labels=False)
hist_trans['duration'] = hist_trans['purchase_amount']*hist_trans['month_diff']
hist_trans['amount_month_ratio'] = hist_trans['purchase_amount']/hist_trans['month_diff']

hist_trans = reduce_mem_usage(hist_trans)

# aggregating by grouping them by card_id.
aggregations = {
    'purchase_date' : ['max','min'],
    'purchased_on_weekend': ['sum', 'mean'],
    'purchased_on_weekday': ['sum', 'mean'],
    'dayofweek' : ['nunique', 'sum', 'mean','max'],
    'hour_of_purchase': ['nunique', 'mean', 'min', 'max'],
    'Minute_of_purchase': ['nunique', 'mean', 'min', 'max'],
    'Second_of_purchase': ['nunique', 'mean', 'min', 'max'],
    'weekofyear': ['nunique', 'mean', 'min', 'max'],
    'month_diff': ['max','min','mean','var','skew'],
    'day': ['nunique', 'sum', 'min'],
    'month' : ['sum', 'mean', 'nunique','max'],
    'purchase_amount_quantiles' : ['var', 'mean', 'skew'],
    'duration' : ['mean','min','max','var','skew'],
    'amount_month_ratio' : ['mean','min','max','var','skew'],
    'authorized_flag' : ['sum','mean'],
    'subsector_id': ['nunique'],
    'card_id': ['size'],
    'city_id' : ['nunique'],
    'state_id' : ['nunique'],
    'merchant_id': ['nunique'],
    'installments': ['sum','max','mean','var','skew'],
    'merchant_category_id': ['nunique'],
    'purchase_amount': ['sum', 'mean', 'min', 'max', 'var','skew'],
    'EMI' : ['sum','mean','max','min','var'],
    'category_1' : ['sum','mean', 'max','min'],
    'category_2' : ['sum','mean'],
    'category_3' : ['sum','mean'],
    'month_lag' : ['sum','max','min','mean','var','skew']
}
aggregated_trans = hist_trans.groupby('card_id').agg(aggregations)
aggregated_trans.columns = ['transactions_'+'_'.join(col).strip()
                           for col in aggregated_trans.columns.values]
aggregated_trans.reset_index(inplace=True)

# extracting some more features based on aggregated features.
aggregated_trans['transactions_purchase_date_diff'] = (aggregated_trans['transactions_purchase_date_max']-aggregated_trans['transactions_purchase_date_min']).dt.days
aggregated_trans['transactions_purchase_date_average'] = aggregated_trans['transactions_purchase_date_diff']/aggregated_trans['transactions_card_id_size']
aggregated_trans['transactions_purchase_date_uptonow'] = (datetime.datetime.today()-aggregated_trans['transactions_purchase_date_max']).dt.days
aggregated_trans['transactions_purchase_date_uptomin'] = (datetime.datetime.today()-aggregated_trans['transactions_purchase_date_min']).dt.days

Memory usage after optimization is: 1749.11 MB
Decreased by 43.7%
Memory usage after optimization is: 1638.06 MB
Decreased by 69.4%

In [ ]:
aggregated_trans.head()

           card_id  ... transactions_purchase_date_uptomin
0  C_ID_00007093c1  ...                               1431
1  C_ID_0001238066  ...                               1204
2  C_ID_0001506ef0  ...                               1461
3  C_ID_0001793786  ...                               1455
4  C_ID_000183fdda  ...                               1257

[5 rows x 94 columns]

## New_merchant_transctions

In [ ]:
# loading the data
new_hist_trans = reduce_mem_usage(pd.read_csv('/content/new_merchant_transactions.csv'))

# preprocessing the csv file
# imputing the missing values
new_hist_trans['category_3'].fillna(new_hist_trans['category_3'].mode()[0], inplace=True)
new_hist_trans['merchant_id'].fillna(new_hist_trans['merchant_id'].mode()[0], inplace=True)
new_hist_trans['category_2'].fillna(new_hist_trans['category_2'].mode()[0], inplace=True)

# mapping catrgorical variables
new_hist_trans['authorized_flag'] = new_hist_trans['authorized_flag'].map({'Y':1, 'N':0})
new_hist_trans['category_1'] = new_hist_trans['category_1'].map({'Y':1, 'N':0})
new_hist_trans['category_3'] = new_hist_trans['category_3'].map({'A':0, 'B':1, 'C':2})
new_hist_trans['installments'] = new_hist_trans['installments'].map({-1:13, 0:0.1,1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10,11:11,12:12,999:13})

# taking 99 percrntile value a max to remove the outliers
new_hist_trans['purchase_amount'] = new_hist_trans['purchase_amount'].apply(lambda x: min(x, 1.22))

# feature engineering based on dates
new_hist_trans['purchase_date']=pd.to_datetime(new_hist_trans['purchase_date'])
new_hist_trans['year'] = new_hist_trans['purchase_date'].dt.year
new_hist_trans['day'] = new_hist_trans['purchase_date'].dt.day
new_hist_trans['month'] = new_hist_trans['purchase_date'].dt.month
new_hist_trans['dayofweek'] = new_hist_trans['purchase_date'].dt.dayofweek
new_hist_trans['weekofyear'] = new_hist_trans['purchase_date'].dt.weekofyear
new_hist_trans['hour_of_purchase'] = new_hist_trans['purchase_date'].dt.hour
new_hist_trans['Minute_of_purchase'] = new_hist_trans['purchase_date'].dt.minute
new_hist_trans['Second_of_purchase'] = new_hist_trans['purchase_date'].dt.second
new_hist_trans['purchased_on_weekend'] = (new_hist_trans.dayofweek >=5).astype(int)
new_hist_trans['purchased_on_weekday'] = (new_hist_trans.dayofweek <5).astype(int)

new_hist_trans['month_diff'] = ((datetime.datetime.today() - new_hist_trans['purchase_date']).dt.days)//30
new_hist_trans['month_diff'] += new_hist_trans['month_lag']

# feature engineering based on installments and purchase amount
# purchase amount is highly normalized so we denormalizing it  
# inspired from https://chandureddyvari.com/posts/elo-merchant-feature/
new_hist_trans['EMI'] = new_hist_trans['purchase_amount'] / new_hist_trans['installments']
new_hist_trans['purchase_amount_quantiles'] = pd.qcut(new_hist_trans['purchase_amount'], 5, labels=False)
new_hist_trans['duration'] = new_hist_trans['purchase_amount']*new_hist_trans['month_diff']
new_hist_trans['amount_month_ratio'] = new_hist_trans['purchase_amount']/new_hist_trans['month_diff']

new_hist_trans = reduce_mem_usage(new_hist_trans)

# aggregating by grouping them by card_id.
aggregations = {
    'purchase_date' : ['max','min'],
    'purchased_on_weekend': ['sum', 'mean'],
    'purchased_on_weekday': ['sum', 'mean'],
    'dayofweek' : ['nunique', 'sum', 'mean','max'],
    'hour_of_purchase': ['nunique', 'mean', 'min', 'max'],
    'Minute_of_purchase': ['nunique', 'mean', 'min', 'max'],
    'Second_of_purchase': ['nunique', 'mean', 'min', 'max'],
    'weekofyear': ['nunique', 'mean', 'min', 'max'],
    'month_diff': ['max','min','mean','var','skew'],
    'day': ['nunique', 'sum', 'min'],
    'month' : ['sum', 'mean', 'nunique','max'],
    'purchase_amount_quantiles' : ['var', 'mean', 'skew'],
    'duration' : ['mean','min','max','var','skew'],
    'amount_month_ratio' : ['mean','min','max','var','skew'],
    'subsector_id': ['nunique'],
    'card_id': ['size'],
    'city_id' : ['nunique'],
    'state_id' : ['nunique'],
    'merchant_id': ['nunique'],
    'installments': ['sum','max','mean','var','skew'],
    'merchant_category_id': ['nunique'],
    'purchase_amount': ['sum', 'mean', 'min', 'max', 'var','skew'],
    'EMI' : ['sum','mean','max','min','var'],
    'category_1' : ['sum','mean', 'max','min'],
    'category_2' : ['sum','mean'],
    'category_3' : ['sum','mean'],
    'month_lag' : ['sum','max','min','mean','var','skew']
}

aggregated_trans_1 = new_hist_trans.groupby('card_id').agg(aggregations)
aggregated_trans_1.columns = ['new_transactions_'+'_'.join(col).strip()
                           for col in aggregated_trans_1.columns.values]
aggregated_trans_1.reset_index(inplace=True)

# extracting some more features based on aggregated features.
aggregated_trans_1['new_transactions_purchase_date_diff'] = (aggregated_trans_1['new_transactions_purchase_date_max']-aggregated_trans_1['new_transactions_purchase_date_min']).dt.days
aggregated_trans_1['new_transactions_purchase_date_average'] = aggregated_trans_1['new_transactions_purchase_date_diff']/aggregated_trans_1['new_transactions_card_id_size']
aggregated_trans_1['new_transactions_purchase_date_uptonow'] = (datetime.datetime.today()-aggregated_trans_1['new_transactions_purchase_date_max']).dt.days
aggregated_trans_1['new_transactions_purchase_date_uptomin'] = (datetime.datetime.today()-aggregated_trans_1['new_transactions_purchase_date_min']).dt.days

Memory usage after optimization is: 114.20 MB
Decreased by 45.5%
Memory usage after optimization is: 110.45 MB
Decreased by 69.4%

In [ ]:
aggregated_trans_1.head()

           card_id  ... new_transactions_purchase_date_uptomin
0  C_ID_00007093c1  ...                                   1018
1  C_ID_0001238066  ...                                   1050
2  C_ID_0001506ef0  ...                                   1035
3  C_ID_0001793786  ...                                   1156
4  C_ID_000183fdda  ...                                   1050

[5 rows x 92 columns]

In [ ]:
aggregated_trans_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290001 entries, 0 to 290000
Data columns (total 92 columns):
 #   Column                                           Non-Null Count   Dtype
---  ------                                           --------------   -----
 0   card_id                                          290001 non-null  object
 1   new_transactions_purchase_date_max               290001 non-null  datetime64[ns]
 2   new_transactions_purchase_date_min               290001 non-null  datetime64[ns]
 3   new_transactions_purchased_on_weekend_sum        290001 non-null  int8
 4   new_transactions_purchased_on_weekend_mean       290001 non-null  float64
 5   new_transactions_purchased_on_weekday_sum        290001 non-null  int8
 6   new_transactions_purchased_on_weekday_mean       290001 non-null  float64
 7   new_transactions_dayofweek_nunique               290001 non-null  int64
 8   new_transactions_dayofweek_sum                   290001 non-null  float64
 9   new_transactions_dayofweek_mean                  290001 non-null  float64
 10  new_transactions_dayofweek_max                   290001 non-null  int8
 11  new_transactions_hour_of_purchase_nunique        290001 non-null  int64
 12  new_transactions_hour_of_purchase_mean           290001 non-null  float64
 13  new_transactions_hour_of_purchase_min            290001 non-null  int8
 14  new_transactions_hour_of_purchase_max            290001 non-null  int8
 15  new_transactions_Minute_of_purchase_nunique      290001 non-null  int64
 16  new_transactions_Minute_of_purchase_mean         290001 non-null  float64
 17  new_transactions_Minute_of_purchase_min          290001 non-null  int8
 18  new_transactions_Minute_of_purchase_max          290001 non-null  int8
 19  new_transactions_Second_of_purchase_nunique      290001 non-null  int64
 20  new_transactions_Second_of_purchase_mean         290001 non-null  float64
 21  new_transactions_Second_of_purchase_min          290001 non-null  int8
 22  new_transactions_Second_of_purchase_max          290001 non-null  int8
 23  new_transactions_weekofyear_nunique              290001 non-null  int64
 24  new_transactions_weekofyear_mean                 290001 non-null  float64
 25  new_transactions_weekofyear_min                  290001 non-null  int8
 26  new_transactions_weekofyear_max                  290001 non-null  int8
 27  new_transactions_month_diff_max                  290001 non-null  int8
 28  new_transactions_month_diff_min                  290001 non-null  int8
 29  new_transactions_month_diff_mean                 290001 non-null  float64
 30  new_transactions_month_diff_var                  246991 non-null  float64
 31  new_transactions_month_diff_skew                 209419 non-null  float64
 32  new_transactions_day_nunique                     290001 non-null  int64
 33  new_transactions_day_sum                         290001 non-null  float64
 34  new_transactions_day_min                         290001 non-null  int8
 35  new_transactions_month_sum                       290001 non-null  float64
 36  new_transactions_month_mean                      290001 non-null  float64
 37  new_transactions_month_nunique                   290001 non-null  int64
 38  new_transactions_month_max                       290001 non-null  int8
 39  new_transactions_purchase_amount_quantiles_var   246991 non-null  float64
 40  new_transactions_purchase_amount_quantiles_mean  290001 non-null  float64
 41  new_transactions_purchase_amount_quantiles_skew  209419 non-null  float64
 42  new_transactions_duration_mean                   290001 non-null  float16
 43  new_transactions_duration_min                    290001 non-null  float16
 44  new_transactions_duration_max                    290001 non-null  float16
 45  new_transactions_duration_var                    246991 non-null  float16
 46  new_transactions_duration_skew                   209413 non-null  float64
 47  new_transactions_amount_month_ratio_mean         290001 non-null  float16
 48  new_transactions_amount_month_ratio_min          290001 non-null  float16
 49  new_transactions_amount_month_ratio_max          290001 non-null  float16
 50  new_transactions_amount_month_ratio_var          246991 non-null  float16
 51  new_transactions_amount_month_ratio_skew         209419 non-null  float64
 52  new_transactions_subsector_id_nunique            290001 non-null  int64
 53  new_transactions_card_id_size                    290001 non-null  int64
 54  new_transactions_city_id_nunique                 290001 non-null  int64
 55  new_transactions_state_id_nunique                290001 non-null  int64
 56  new_transactions_merchant_id_nunique             290001 non-null  int64
 57  new_transactions_installments_sum                290001 non-null  float16
 58  new_transactions_installments_max                290001 non-null  float16
 59  new_transactions_installments_mean               290001 non-null  float16
 60  new_transactions_installments_var                246991 non-null  float16
 61  new_transactions_installments_skew               209419 non-null  float64
 62  new_transactions_merchant_category_id_nunique    290001 non-null  int64
 63  new_transactions_purchase_amount_sum             290001 non-null  float16
 64  new_transactions_purchase_amount_mean            290001 non-null  float16
 65  new_transactions_purchase_amount_min             290001 non-null  float16
 66  new_transactions_purchase_amount_max             290001 non-null  float16
 67  new_transactions_purchase_amount_var             246991 non-null  float16
 68  new_transactions_purchase_amount_skew            209419 non-null  float64
 69  new_transactions_EMI_sum                         290001 non-null  float16
 70  new_transactions_EMI_mean                        290001 non-null  float16
 71  new_transactions_EMI_max                         290001 non-null  float16
 72  new_transactions_EMI_min                         290001 non-null  float16
 73  new_transactions_EMI_var                         246991 non-null  float16
 74  new_transactions_category_1_sum                  290001 non-null  int8
 75  new_transactions_category_1_mean                 290001 non-null  float64
 76  new_transactions_category_1_max                  290001 non-null  int8
 77  new_transactions_category_1_min                  290001 non-null  int8
 78  new_transactions_category_2_sum                  290001 non-null  float16
 79  new_transactions_category_2_mean                 290001 non-null  float16
 80  new_transactions_category_3_sum                  290001 non-null  int8
 81  new_transactions_category_3_mean                 290001 non-null  float64
 82  new_transactions_month_lag_sum                   290001 non-null  float64
 83  new_transactions_month_lag_max                   290001 non-null  int8
 84  new_transactions_month_lag_min                   290001 non-null  int8
 85  new_transactions_month_lag_mean                  290001 non-null  float64
 86  new_transactions_month_lag_var                   246991 non-null  float64
 87  new_transactions_month_lag_skew                  209419 non-null  float64
 88  new_transactions_purchase_date_diff              290001 non-null  int64
 89  new_transactions_purchase_date_average           290001 non-null  float64
 90  new_transactions_purchase_date_uptonow           290001 non-null  int64
 91  new_transactions_purchase_date_uptomin           290001 non-null  int64
dtypes: datetime64[ns](2), float16(24), float64(28), int64(16), int8(21), object(1)
memory usage: 123.1+ MB

## Merging transactions with train and test

In [ ]:
train1=pd.merge(train, aggregated_trans, on='card_id', how='left')
test1=pd.merge(test, aggregated_trans, on='card_id', how='left')

In [ ]:
train1.shape,test1.shape

((201917, 116), (123623, 114))

In [ ]:
train1=pd.merge(train1, aggregated_trans_1, on='card_id', how='left')
test1=pd.merge(test1, aggregated_trans_1, on='card_id', how='left')

In [ ]:
print(train1.shape)
print(test1.shape)

(201917, 207)
(123623, 205)

In [ ]:
train1.head()

  first_active_month  ... new_transactions_purchase_date_uptomin
0         2017-06-01  ...                                 1047.0
1         2017-01-01  ...                                 1078.0
2         2016-08-01  ...                                  992.0
3         2017-09-01  ...                                 1045.0
4         2017-11-01  ...                                 1050.0

[5 rows x 207 columns]

In [ ]:
test1.head()

  first_active_month  ... new_transactions_purchase_date_uptomin
0         2017-04-01  ...                                 1077.0
1         2017-01-01  ...                                 1049.0
2         2017-08-01  ...                                 1050.0
3         2017-12-01  ...                                 1048.0
4         2015-12-01  ...                                 1048.0

[5 rows x 205 columns]

In [ ]:
# converting engineered date features to datetime so that we can use them afterwards.
train1['transactions_purchase_date_max'] = pd.to_datetime(train1['transactions_purchase_date_max'])
train1['transactions_purchase_date_min'] = pd.to_datetime(train1['transactions_purchase_date_min'])
train1['new_transactions_purchase_date_max'] = pd.to_datetime(train1['new_transactions_purchase_date_max'])
train1['new_transactions_purchase_date_min'] = pd.to_datetime(train1['new_transactions_purchase_date_min'])

test1['transactions_purchase_date_max'] = pd.to_datetime(test1['transactions_purchase_date_max'])
test1['transactions_purchase_date_min'] = pd.to_datetime(test1['transactions_purchase_date_min'])
test1['new_transactions_purchase_date_max'] = pd.to_datetime(test1['new_transactions_purchase_date_max'])
test1['new_transactions_purchase_date_min'] = pd.to_datetime(test1['new_transactions_purchase_date_min'])

Extracting some more features from train

In [ ]:
# extracting some more features from train by performing some simple caluculations.
# inspired by https://www.kaggle.com/mfjwr1/simple-lightgbm-without-blending
train1['transactions_purchase_date_difference']=train1['transactions_purchase_date_max'] - train1['transactions_purchase_date_min']
train1['new_transactions_purchase_date_difference'] = train1['new_transactions_purchase_date_max'] - train1['new_transactions_purchase_date_min']
train1['Avg_purchase'] = train1['transactions_purchase_date_difference'] / train1['transactions_card_id_size']
train1['new_Avg_purchase'] = train1['new_transactions_purchase_date_difference'] / train1['new_transactions_card_id_size']
train1['last_purchase_from_now'] = (datetime.datetime.today() - train1['transactions_purchase_date_max']).dt.days
train1['new_last_purchase_from_now'] = (datetime.datetime.today() - train1['new_transactions_purchase_date_max']).dt.days
train1['first_purchase_from_now'] = (datetime.datetime.today() - train1['transactions_purchase_date_min']).dt.days
train1['new_first_purchase_from_now'] = (datetime.datetime.today() - train1['new_transactions_purchase_date_min']).dt.days

In [ ]:
# extracting some more features from train by performing some simple caluculations.
# inspired by https://www.kaggle.com/mfjwr1/simple-lightgbm-without-blending
train1['card_id_total'] = train1['new_transactions_card_id_size']+train1['transactions_card_id_size']
train1['card_id_ratio'] =  train1['new_transactions_card_id_size']/train1['transactions_card_id_size']

train1['total_purchase_amount_max'] = train1['new_transactions_purchase_amount_max']+train1['transactions_purchase_amount_max']
train1['total_purchase_amount_min'] = train1['new_transactions_purchase_amount_min']+train1['transactions_purchase_amount_min']
train1['total_purchase_amount_mean'] = train1['new_transactions_purchase_amount_mean']+train1['transactions_purchase_amount_mean']
train1['total_purchase_amount_sum'] = train1['new_transactions_purchase_amount_sum']+train1['transactions_purchase_amount_sum']
train1['total_purchase_amount_ratio'] = train1['new_transactions_purchase_amount_sum']/train1['transactions_purchase_amount_sum']

train1['total_installments_max'] = train1['new_transactions_installments_max'] + train1['transactions_installments_max']
train1['total_installments_mean'] = train1['new_transactions_installments_mean'] + train1['transactions_installments_mean']
train1['total_installments_sum'] = train1['new_transactions_installments_sum'] + train1['transactions_installments_sum']
train1['total_installments_ratio'] = train1['new_transactions_installments_sum'] / train1['transactions_installments_sum']

train1['total_month_lag_max'] = train1['new_transactions_month_lag_max'] + train1['transactions_month_lag_max']
train1['total_month_lag_min'] = train1['new_transactions_month_lag_min'] + train1['transactions_month_lag_min']
train1['total_month_lag_mean'] = train1['new_transactions_month_lag_mean'] + train1['transactions_month_lag_mean']
train1['total_month_lag_sum'] = train1['new_transactions_month_lag_sum'] + train1['transactions_month_lag_sum']
train1['total_month_lag_ratio'] = train1['new_transactions_month_lag_sum'] / train1['transactions_month_lag_sum']

train1['total_duration_max'] = train1['new_transactions_duration_max'] + train1['transactions_duration_max']
train1['total_duration_min'] = train1['new_transactions_duration_min'] + train1['transactions_duration_min']
train1['total_duration_mean'] = train1['new_transactions_duration_mean'] + train1['transactions_duration_mean']


train1['total_month_diff_max'] = train1['new_transactions_month_diff_max'] + train1['transactions_month_diff_max']
train1['total_month_diff_mean'] = train1['new_transactions_month_diff_mean'] + train1['transactions_month_diff_mean']
train1['total_month_diff_min'] = train1['new_transactions_month_diff_min'] + train1['transactions_month_diff_min']

train1['total_amount_month_ratio_max'] = train1['new_transactions_amount_month_ratio_max'] + train1['transactions_amount_month_ratio_max']
train1['total_amount_month_ratio_min'] = train1['new_transactions_amount_month_ratio_min'] + train1['transactions_amount_month_ratio_min']
train1['total_amount_month_ratio_mean'] = train1['new_transactions_amount_month_ratio_mean'] + train1['transactions_amount_month_ratio_mean']

train1['customer_rating'] = train1['transactions_card_id_size'] * train1['transactions_purchase_amount_sum'] / train1['transactions_month_diff_mean']
train1['new_customer_rating'] = train1['new_transactions_card_id_size'] * train1['new_transactions_purchase_amount_sum'] / train1['new_transactions_month_diff_mean']
train1['customer_rating_ratio'] = train1['customer_rating'] / train1['new_customer_rating']

In [ ]:
train1.head()

  first_active_month  ... customer_rating_ratio
0         2017-06-01  ...            142.233267
1         2017-01-01  ...           2859.406022
2         2016-08-01  ...           1787.922785
3         2017-09-01  ...            117.412809
4         2017-11-01  ...             13.564825

[5 rows x 243 columns]

Extracting some more features from test

In [ ]:
# converting engineered date features to datetime so that we can use them afterwards.
test1['transactions_purchase_date_difference']=test1['transactions_purchase_date_max'] - test1['transactions_purchase_date_min']
test1['new_transactions_purchase_date_difference'] = test1['new_transactions_purchase_date_max'] - test1['new_transactions_purchase_date_min']
test1['Avg_purchase'] = test1['transactions_purchase_date_difference'] / test1['transactions_card_id_size']
test1['new_Avg_purchase'] = test1['new_transactions_purchase_date_difference'] / test1['new_transactions_card_id_size']
test1['last_purchase_from_now'] = (datetime.datetime.today() - test1['transactions_purchase_date_max']).dt.days
test1['new_last_purchase_from_now'] = (datetime.datetime.today() - test1['new_transactions_purchase_date_max']).dt.days
test1['first_purchase_from_now'] = (datetime.datetime.today() - test1['transactions_purchase_date_min']).dt.days
test1['new_first_purchase_from_now'] = (datetime.datetime.today() - test1['new_transactions_purchase_date_min']).dt.days

In [ ]:
# extracting some more features from train by performing some simple caluculations.
# inspired by https://www.kaggle.com/mfjwr1/simple-lightgbm-without-blending
test1['card_id_total'] = test1['new_transactions_card_id_size']+test1['transactions_card_id_size']
test1['card_id_ratio'] =  test1['new_transactions_card_id_size']/test1['transactions_card_id_size']

test1['total_purchase_amount_max'] = test1['new_transactions_purchase_amount_max']+test1['transactions_purchase_amount_max']
test1['total_purchase_amount_min'] = test1['new_transactions_purchase_amount_min']+test1['transactions_purchase_amount_min']
test1['total_purchase_amount_mean'] = test1['new_transactions_purchase_amount_mean']+test1['transactions_purchase_amount_mean']
test1['total_purchase_amount_sum'] = test1['new_transactions_purchase_amount_sum']+test1['transactions_purchase_amount_sum']
test1['total_purchase_amount_ratio'] = test1['new_transactions_purchase_amount_sum']/test1['transactions_purchase_amount_sum']

test1['total_installments_max'] = test1['new_transactions_installments_max'] + test1['transactions_installments_max']
test1['total_installments_mean'] = test1['new_transactions_installments_mean'] + test1['transactions_installments_mean']
test1['total_installments_sum'] = test1['new_transactions_installments_sum'] + test1['transactions_installments_sum']
test1['total_installments_ratio'] = test1['new_transactions_installments_sum'] / test1['transactions_installments_sum']

test1['total_month_lag_max'] = test1['new_transactions_month_lag_max'] + test1['transactions_month_lag_max']
test1['total_month_lag_min'] = test1['new_transactions_month_lag_min'] + test1['transactions_month_lag_min']
test1['total_month_lag_mean'] = test1['new_transactions_month_lag_mean'] + test1['transactions_month_lag_mean']
test1['total_month_lag_sum'] = test1['new_transactions_month_lag_sum'] + test1['transactions_month_lag_sum']
test1['total_month_lag_ratio'] = test1['new_transactions_month_lag_sum'] / test1['transactions_month_lag_sum']

test1['total_duration_max'] = test1['new_transactions_duration_max'] + test1['transactions_duration_max']
test1['total_duration_min'] = test1['new_transactions_duration_min'] + test1['transactions_duration_min']
test1['total_duration_mean'] = test1['new_transactions_duration_mean'] + test1['transactions_duration_mean']

test1['total_month_diff_max'] = test1['new_transactions_month_diff_max'] + test1['transactions_month_diff_max']
test1['total_month_diff_mean'] = test1['new_transactions_month_diff_mean'] + test1['transactions_month_diff_mean']
test1['total_month_diff_min'] = test1['new_transactions_month_diff_min'] + test1['transactions_month_diff_min']

test1['total_amount_month_ratio_max'] = test1['new_transactions_amount_month_ratio_max'] + test1['transactions_amount_month_ratio_max']
test1['total_amount_month_ratio_min'] = test1['new_transactions_amount_month_ratio_min'] + test1['transactions_amount_month_ratio_min']
test1['total_amount_month_ratio_mean'] = test1['new_transactions_amount_month_ratio_mean'] + test1['transactions_amount_month_ratio_mean']

test1['customer_rating'] = test1['transactions_card_id_size'] * test1['transactions_purchase_amount_sum'] / test1['transactions_month_diff_mean']
test1['new_customer_rating'] = test1['new_transactions_card_id_size'] * test1['new_transactions_purchase_amount_sum'] / test1['new_transactions_month_diff_mean']
test1['customer_rating_ratio'] = test1['customer_rating'] / test1['new_customer_rating']

In [ ]:
test1.head()

  first_active_month  ... customer_rating_ratio
0         2017-04-01  ...            517.850083
1         2017-01-01  ...             71.297642
2         2017-08-01  ...            107.707220
3         2017-12-01  ...              6.196873
4         2015-12-01  ...            750.481666

[5 rows x 241 columns]

In [ ]:
# replacing inf values with nan. 
train1.replace([-np.inf,np.inf], np.nan, inplace=True)
test1.replace([-np.inf,np.inf], np.nan, inplace=True)

In [ ]:
# checking for nan values.
k= train1.columns[train1.isna().any()]
v= test1.columns[test1.isna().any()]

In [ ]:
len(k),len(v)

(129, 129)

In [ ]:
for i in range(len(k)):
  train1[k[i]].fillna(train1[k[i]].mode()[0], inplace=True)
  test1[k[i]].fillna(test1[k[i]].mode()[0], inplace=True)

In [ ]:
train1.columns[train1.isnull().any()]

Index([], dtype='object')

In [ ]:
test1.columns[test1.isna().any()]

Index([], dtype='object')

In [ ]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201917 entries, 0 to 201916
Columns: 243 entries, first_active_month to customer_rating_ratio
dtypes: datetime64[ns](5), float16(64), float64(128), int64(24), int8(17), object(1), timedelta64[ns](4)
memory usage: 279.0+ MB

In [ ]:
test1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123623 entries, 0 to 123622
Columns: 241 entries, first_active_month to customer_rating_ratio
dtypes: datetime64[ns](5), float16(63), float64(128), int64(23), int8(17), object(1), timedelta64[ns](4)
memory usage: 169.7+ MB

We can see that there are datetime64[ns] and timedelta64[ns] present in dataset which is undesirable for modelling.

In [ ]:
# getting columns having datetime64[ns] datatypes
types=train1.select_dtypes(include=['datetime64[ns]']).columns

In [ ]:
# removing columns having datetime64[ns] datatypes
train1=train1.drop(types,axis=1)
test1=test1.drop(types,axis=1)

In [ ]:
# # getting columns having timedelta64[ns] datatypes
types1=train1.select_dtypes(include=['timedelta64[ns]']).columns

In [ ]:
# changing timedelta64[ns] to int64 datatype so that we can perform modelling
for i in types1:
 train1[i] = train1[i].astype(np.int64) * 1e-9
for i in types1:
 test1[i] = test1[i].astype(np.int64) * 1e-9

In [ ]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201917 entries, 0 to 201916
Columns: 238 entries, card_id to customer_rating_ratio
dtypes: float16(64), float64(132), int64(24), int8(17), object(1)
memory usage: 271.3+ MB

In [ ]:
test1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123623 entries, 0 to 123622
Columns: 236 entries, card_id to customer_rating_ratio
dtypes: float16(63), float64(132), int64(23), int8(17), object(1)
memory usage: 164.9+ MB

Now we can seee that all the dataypes are desirable for modelling.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
train1.shape,test1.shape

((201917, 238), (123623, 236))

In [ ]:
# saving the files to drive
train1.to_csv('/content/drive/MyDrive/Colab Notebooks/CASE_STUDY_1/train3')
test1.to_csv('/content/drive/MyDrive/Colab Notebooks/CASE_STUDY_1/test3')

we have total of 235 features which we extracted by FE and merging various datsets given to us by elo. Now we are set for modelling.